<?php

function replace_extension($filename, $new_extension) {
    $info = pathinfo($filename);
    return $info['dirname'] . '/' . $info['filename'] . '.' . $new_extension;
}

$filename = $argv[1];
$thumb_filename = replace_extension($filename, 'thumb.jpg');

echo $filename . " -> ". $thumb_filename . "\r\n";

$client = new GearmanClient(); $client->addServer("{{$data := json (getv "/services/gearmand")}}{{$data.ip}}");

$client->doBackground("generate_image", json_encode(array('in' => $filename, 'out' => $thumb_filename)));

?>
