[Unit]
Description=Announce Docker UI

Requires=etcd.service
Requires=docker_ui.service

After=etcd.service
After=docker_ui.service

BindsTo=docker_ui.service

[Service]
ExecStart=/bin/bash -c "MY_IP=`getent hosts %H|/usr/bin/cut -d\" \" -f1`; while true; do etcdctl set /services/webservers/docker_ui '{\"ip\": \"'$MY_IP'\",\"port\": \"9080\"}' --ttl 60;sleep 45;done"
ExecStop=/usr/bin/etcdctl rm /services/webservers/docker_ui

Restart=always
RestartSec=5

[X-Fleet]
X-ConditionMachineOf=docker_ui.service
