[Unit]
Description=Announce gate website

Requires=etcd.service
Requires=databases.mount
Requires=gate.service

After=etcd.service
After=databases.mount
After=gate.service

BindsTo=gate.service

[Service]
ExecStart=/bin/sh -c "while true; do etcdctl set /services/webservers/gate '{\"ip\": \"%H\",\"port\": \"8880\"}' --ttl 60;sleep 45;done"
ExecStop=/usr/bin/etcdctl rm /services/webservers/gate

Restart=always
RestartSec=5

[X-Fleet]
X-ConditionMachineOf=gate.service
