[Unit]
Description=Announce gate website

Requires=etcd.service
Requires=databases.mount
Requires=gate.service

After=etcd.service
After=databases.mount
After=gate.service

BindsTo=gate.service

[Service]
ExecStart=/bin/bash -c "MY_IP=`getent hosts %H|/usr/bin/cut -d\" \" -f1`; while true; do etcdctl set /services/webservers/gate '{\"ip\": \"'$MY_IP'\",\"port\": \"8880\"}' --ttl 60;sleep 45;done"
ExecStop=/usr/bin/etcdctl rm /services/webservers/gate

Restart=always
RestartSec=5

[X-Fleet]
X-ConditionMachineOf=gate.service
