[Unit]
Description=Announce hlstatsx scripts

Requires=etcd.service
Requires=hlstatsx_scripts.service

After=etcd.service
After=hlstatsx_scripts.service

BindsTo=hlstatsx_scripts.service

[Service]
ExecStart=/bin/sh -c "while true; do etcdctl set /services/hlstatsx/scripts/host \"%H\" --ttl 60; etcdctl set /services/hlstatsx/scripts/port 27500 --ttl 60;sleep 45;done"
ExecStop=/usr/bin/etcdctl rm /services/hlstatsx/scripts/host
ExecStop=/usr/bin/etcdctl rm /services/hlstatsx/scripts/port

Restart=always
RestartSec=5

[X-Fleet]
X-ConditionMachineOf=hlstatsx_scripts.service
