[Unit]
Description=hlstatsx_scripts

After=docker.service
After=docker_configs.mount
Before=hlstatsx_scripts_announce.service

Requires=docker.service
Requires=docker_configs.mount

[Service]
TimeoutStartSec=0

# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none

ExecStartPre=-/usr/bin/docker kill hlstatsx_scripts
ExecStartPre=-/usr/bin/docker rm hlstatsx_scripts
ExecStartPre=/bin/sh -c "while [ `etcdctl ls /services/docker/repo/host 2>&1 >/dev/null| grep 'Key not found' | wc -l` -eq 1 ]; do sleep 5; done"
ExecStartPre=/bin/sh -c "while [ `etcdctl ls /services/hlstatsx/mysql/host 2>&1 >/dev/null|grep 'Key not found' | wc -l` -eq 1 ]; do sleep 5; done"
ExecStartPre=/bin/sh -c "/usr/bin/docker pull `etcdctl get /services/docker/repo/host`:`etcdctl get /services/docker/repo/port`/hlstatsx_scripts"
ExecStart=/bin/sh -c "/usr/bin/docker run -p 27500:27500 -p 27500:27500/udp --name hlstatsx_scripts -v /docker_configs/hlstatsx_scripts/confd:/etc/confd `etcdctl get /services/docker/repo/host`:`etcdctl get /services/docker/repo/port`/hlstatsx_scripts"

Restart=always
RestartSec=5

# Stop
ExecStop=/usr/bin/docker stop hlstatsx_scripts

[X-Fleet]
Conflicts=insurgency_dedicated.service
