[Unit]
Description=hlstatsx_scripts

After=docker.service
After=docker_configs.mount

Requires=docker.service
Requires=docker_configs.mount

[Service]
TimeoutStartSec=0
Type=oneshot

# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none

ExecStartPre=-/usr/bin/docker kill hlstatsx_scripts_nightly
ExecStartPre=-/usr/bin/docker rm hlstatsx_scripts_nightly
ExecStartPre=/bin/sh -c "while [ `etcdctl ls /services/docker/repo/host 2>&1 >/dev/null| grep 'Key not found' | wc -l` -eq 1 ]; do sleep 5; done"
ExecStartPre=/bin/sh -c "while [ `etcdctl ls /services/hlstatsx/mysql/host 2>&1 >/dev/null|grep 'Key not found' | wc -l` -eq 1 ]; do sleep 5; done"
ExecStartPre=/bin/sh -c "/usr/bin/docker pull `etcdctl get /services/docker/repo/host`:`etcdctl get /services/docker/repo/port`/hlstatsx_scripts"
ExecStart=/bin/sh -c "/usr/bin/docker run --name hlstatsx_scripts_nightly -v /docker_configs/hlstatsx_scripts_nightly/confd-watch:/usr/local/bin/confd-watch -v /docker_configs/hlstatsx_scripts/confd:/etc/confd `etcdctl get /services/docker/repo/host`:`etcdctl get /services/docker/repo/port`/hlstatsx_scripts"
