[Unit]
Description=mosquitto

After=docker.service
After=docker_configs.mount

Requires=docker_configs.mount
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill mosquitto
ExecStartPre=-/usr/bin/docker rm mosquitto
ExecStartPre=/bin/sh -c "while [ `etcdctl ls /services/docker/repo/host 2>&1 >/dev/null| grep 'Key not found' | wc -l` -eq 1 ]; do sleep 5; done"
ExecStartPre=/bin/sh -c "/usr/bin/docker pull `etcdctl get /services/docker/repo/host`:`etcdctl get /services/docker/repo/port`/mosquitto"
ExecStart=/bin/sh -c "/usr/bin/docker run --net host --name mosquitto -v /docker_configs/mosquitto:/etc/mosquitto -p 9003:9003 `etcdctl get /services/docker/repo/host`:`etcdctl get /services/docker/repo/port`/mosquitto"

Restart=always
RestartSec=5
