[Unit]
Description=mosquitto

After=docker.service
After=docker_configs.mount

Requires=docker_configs.mount
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill mosquitto
ExecStartPre=-/usr/bin/docker rm mosquitto
ExecStartPre=/usr/bin/docker pull localhost:5000/mosquitto
ExecStart=/bin/sh -c "/usr/bin/docker run --net host --name mosquitto -v /docker_configs/mosquitto:/etc/mosquitto -p 9003:9003 localhost:5000/mosquitto

Restart=always
RestartSec=5
