[Unit]
Description=motion service

After=etcd.service
After=docker.service
After=security_camera.mount
After=docker_configs.mount
Before=motion_announce.service

Requires=docker.service
Requires=security_camera.mount
Requires=etcd.service
Requires=docker_configs.mount

[Service]
TimeoutStartSec=0

# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none

ExecStartPre=-/usr/bin/docker kill motion
ExecStartPre=-/usr/bin/docker rm motion
ExecStartPre=/usr/bin/docker pull localhost:5000/motion
ExecStart=/usr/bin/docker run --rm --name motion --net=host -v /docker_configs/motion/motion_scripts:/motion_scripts -v /docker_configs/motion/etc:/etc/motion -v /security_camera:/fileserv/security_camera localhost:5000/motion

ExecStop=/usr/bin/docker stop motion

Restart=always
RestartSec=5

[X-Fleet]
X-ConditionMachineMetadata=speed=fast
