[Unit]
Description=motion service

After=etcd.service
After=docker.service
After=docker_configs.mount

Requires=docker.service
Requires=etcd.service
Requires=docker_configs.mount

[Service]
TimeoutStartSec=0

# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none

ExecStartPre=-/usr/bin/docker kill motion_script_update
ExecStartPre=-/usr/bin/docker rm motion_script_update
ExecStartPre=/bin/sh -c "while [ `etcdctl ls /services/docker/repo/host 2>&1 >/dev/null| grep 'Key not found' | wc -l` -eq 1 ]; do sleep 5; done"
ExecStartPre=/bin/sh -c "/usr/bin/docker pull `etcdctl get /services/docker/repo/host`:`etcdctl get /services/docker/repo/port`/motion_script_update"
ExecStart=/bin/sh -c "/usr/bin/docker run --name motion_script_update -v /docker_configs/motion/motion_scripts:/motion_scripts -v /docker_configs/motion_script_updates/confd:/etc/confd `etcdctl get /services/docker/repo/host`:`etcdctl get /services/docker/repo/port`/motion_script_update"

ExecStop=/usr/bin/docker stop motion_script_update

Restart=always
RestartSec=5
