[Unit]
Description=mysql

After=databases.mount
After=security_camera.mount
After=docker.service
Before=databases_announce.service

Requires=databases.mount
Requires=security_camera.mount
Requires=docker.service

[Service]
TimeoutStartSec=0

# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none

ExecStartPre=-/usr/bin/docker kill db
ExecStartPre=-/usr/bin/docker rm db
ExecStartPre=/usr/bin/docker pull mysql
ExecStart=/usr/bin/docker run --name db -v /databases/mysql:/var/lib/mysql -e MYSQL_ROOT_PASSWORD=ARZLdnvM5Bdf8pWj -e MYSQL_USER=motion -e MYSQL_PASSWORD=zTpvxKUFCYTGEZc7 -e MYSQL_DATABASE=motion -p 3306:3306 mysql

Restart=always
RestartSec=5

# Stop
ExecStop=/usr/bin/docker stop db
