[Unit]
Description=Keep a hole poked in the firewall for a service

Requires=%p.service
Requires=docker.service

After=%p.service
After=docker.service

BindsTo=%p.service

[Service]
TimeoutStartSec=0

# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none

ExecStartPre=-/usr/bin/docker kill upnp-%p%i
ExecStartPre=-/usr/bin/docker rm upnp-%p%i
ExecStartPre=/usr/bin/docker pull localhost:5000/upnp
ExecStart=/usr/bin/docker run --net=host --name upnp-%p%i -e 'UDP_FORWARDING_ONLY=yes' -e 'HOST_TO_MONITOR=%p' -e 'PORT_TO_MONITOR=%i' localhost:5000/upnp

Restart=always
RestartSec=5

# Stop
ExecStop=/usr/bin/docker stop upnp-%p%i

[X-Fleet]
X-ConditionMachineOf=%p.service
