// ---------------------------------------------------------------
// Server Info Options
// ---------------------------------------------------------------
hostname "insurgency_server"     // server name
rcon_password "rconpw"  // rcon password
sv_password "server_pw"               // Server password for private servers
sv_minrate 30000 // recommended minimum rate

//sv_workshop_enabled 1 //Enable Workshop support? 
//sv_workshop_mapcycle_generate 1 //Start Workshop mapcycle if any are defined 
//sv_workshop_mapcycle_random 1 //Generate mapcycle in random order?

sv_workshop_enabled 0

mp_theater_override jballou

bot_hearing_silenced_weapon_sound_reduction 0.75

sv_downloadurl "fastdlserver/insurgency"
sv_allowdownload 1
sv_allowupload 1

/////////////////////////////////////////////////////////////////////////////////////////// 
///// BOT SETTINGS /////// 
////////////////////////////////////////////////////////////////////////////////////////// 
ins_bot_change_difficulty 1 //When to change bot difficulty, 1 = instantly, 0 = when new bots are added 
ins_bot_count_checkpoint 0 //A set bot count for Checkpoint 
ins_bot_count_checkpoint_max 25 //The max bot count for Checkpoint 
ins_bot_count_checkpoint_min 8 //The min bot count for Checkpoint 
ins_bot_count_hunt 0 //a set bot count for hunt 
ins_bot_count_hunt_max 25 //The max bot count for hunt 
ins_bot_count_hunt_min 15 //The min bot count for hunt 
ins_bot_difficulty 2 //difficult of bots 
ins_bot_quota 0 //How many bots to place on each team when no players are present?

mp_weaponstay 1

net_public_adr insurgency.burntsheep.com

//sv_hibernate_when_empty 0

// ---------------------------------------------------------------
// Server Download Options (Community made maps)
// ---------------------------------------------------------------
// sv_downloadurl "<type-url-here>"
// sv_allowdownload 1
// sv_allowupload 1

bot_damage 1
sv_weapon_manager_cleanup 0
sv_weapon_manager_max_count 75
sv_weapon_manager_drop_timer 1300
// ---------------------------------------------------------------
// Server Logging Options
// ---------------------------------------------------------------
log on
logaddress_add {{ getv "/services/hlstatsx/scripts/host" }}:{{ getv "/services/hlstatsx/scripts/port" }}
sv_logbans 1
sv_logecho 1
sv_logfile 1
sv_log_onefile 0
sv_lan 0
port 27015
maxplayers 32

// ---------------------------------------------------------------
// Game Mode Options (Change text with in the quotes)
// ---------------------------------------------------------------
// "mapcycle.txt" - by default this contains the most popular options
// "mapcycle_all.txt"  - all possible map/mode combinations for PvP
// "mapcycle_ambush.txt" - only ambush (VIP) mode
// "mapcycle_attackdefend.txt" - mix of attack/defend modes
// "mapcycle_cooperative.txt" - checkpoint, outpost, hunt
// "mapcycle_firefight.txt" - all firefight maps
// "mapcycle_flashpoint.txt" - all flashpoint maps
// "mapcycle_infiltrate.txt" - all infiltrate (CTF) maps
// "mapcycle_objrespawn.txt" - all modes featuring respawning for completing objectives
// "mapcycle_occupy.txt" - all occupy maps
// "mapcycle_push.txt" - all push maps
// "mapcycle_singlelife.txt" - mix of all single life modes
// "mapcycle_skirmish.txt" - all skirmish maps
// "mapcycle_workshop.txt" - used by Workshop system
mapcyclefile "mapcycle_cooperative.txt"

// ---------------------------------------------------------------
// Enabling Matchmaking (Change text with in the quotes)
// More info: http://steamcommunity.com/app/222880/discussions/2/558746089590579609/
// ---------------------------------------------------------------
// "pvp" (Player vs Player)
// "custom" (Custom rules and modded servers)
// "coop" (Cooperative)
//sv_playlist custom

